/* General styles */

body {
  font-family: sans-serif;
  margin: 0px;
  padding: 15px;
}


/* Add a black background color to the top navigation */
.topnav {
  background-color: rgb(12, 85, 180);
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add an active class to highlight the current page */
.topnav a.active {
  background-color: rgb(185, 224, 12);
  color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}

/* Main areas */

h1, h2, h3 {
  font-weight: bold;
  margin: 20px 0;
}

p {
  margin: 10px 0;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  margin-bottom: 10px;
}

a {
  text-decoration: none;
  color: #000;
}


/* Section styles */

section {
  padding: 20px 0;
}

section h2 {
  text-align: center;
}

section p {
  text-align: justify;
}

#goals li {
  list-style-type:circle;
}

#curriculum a {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  color: rgb(12, 85, 180);
  text-align: center;
  text-decoration: underline;
}

/* Modules Headers */

.module h3 {
  display: flex;
  font-size: 16px;
  align-items: center;
  justify-content: space-between;
}

.module h3 .presenter,
.module h3 .topic {
  font-style: italic;
  font-size: 15px;
}

#contact a {
  color: rgb(12, 85, 180);
  text-decoration: underline;
}

#contact h2 {
  text-align: left;
}
#social p a {
  margin: 10px;
  padding: 10px;
}
/* Footer styles */

footer {
  background-color: rgb(12, 85, 180);
  color: white;
  padding: 20px 0;
  text-align: center;
}


CSS for GALLERY
/* Default layout for large screens (laptops/desktops) */

.gallery-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.gallery-image {
  width: 25%;
}

/* MEDIA QUERIES */

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

/* Tablet layout */

@media (max-width: 768px) {
  .gallery-image {
      width: 50%;
  }
}

/* Mobile layout */

@media (max-width: 576px) {
  .gallery-image {
      width: 100%;
  }
}







/*body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(green, gold, red, yellow);
  }
  
/* Navigation menu 

.topnav {
    overflow: hidden;
    background-color: green;
    position: relative;
  }
  
.topnav #myLinks {
    display: none;
  }

.topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  
.topnav a.icon {
    background: black;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  } 

.topnav a:hover {
    background-color: #dd4b4b;
    color: black;
  }
  
.active {
    background-color: #04AA6D;
    color: white;
  }
  
/* Main Page Area 


h3 {
    justify-items: auto;
    margin: 5px;
    padding: 5px;

  }


/* Footer area 
footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    clear: both;
    text-align: center;

}

footer p {
    font-size: 14px;
    padding: 5em;
    margin: 3em;

}

@media (min-width: 768px) and (max-width: 1024px) {
    body {
        display: flex;
        flex-direction:column;
    }
}
